* {
   font-family: "Roboto Slab", serif;
}

/*body {

   width: 90%;
   margin: auto;
}*/

#header-primary {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-title a {
   text-decoration: none;

}

.header-title>a>strong {
   color: black;
}

.header-social-nav a {
   text-decoration: none;

}

.header-social-nav ul li {
   list-style: none;
   display: inline-block;
   margin-right: 10px;
   padding-right: 10px;

}

a:link {
   color: #7f888f;
}

a:visited {
   color: #7f888f;
}

a:hover {
   color: #f56a6a;
}

#header-primary {
   margin-top: 60px;
   border-bottom: 5px solid #f56a6a;

}

.color-grey {
   color: #7f888f
}

/*main section*/

#main {

   margin-top: 60px;
}

.content>h1 {
   font-size: 50px;
   margin-top: 10px;
}

.content>p {
   letter-spacing: 2px;
   font-size: 15px;


}

button {
   color: #f56a6a;
   border: 2px solid red;
   border-radius: 4px;
   padding: 8px;
   list-style: none;
   text-decoration: none;
   text-align: center;
   font-size: 12px;
   cursor: pointer;
   background-color: transparent;

}

#section-wrapper {
   display: flex;
   gap: 40px;

}


#section-wrapper>.pic10 {
   height: 420px;
   border-radius: 5px;

}

.content {
   margin-bottom: 90px;

}

#main {

   border-bottom: 2px solid #7f888f;

}

/*section2*/

.cards-header>h2 {
   text-decoration: underline red solid 3px;
   text-underline-offset: 20px;
   margin-top: 60px;
}

.cards-wrapper1 {
   display: flex;
   gap: 50px;
   padding-top: 40px;
}

.cards-wrapper2 {
   display: flex;
   gap: 50px;
   padding-top: 40px;
   margin-bottom: 50px;
}

.card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
   margin-left: 30px;
}

.card .icon-wrapper {
   border: 2px solid #7f888f;
   transform: rotate(45deg);
   font-size: 50px;
   color: #f56a6a;
}

.card .icon-wrapper i {
   padding: 30px;
   transform: rotate(-45deg);
}


.section {
   border-bottom: solid 2px #7f888f;

}




/*article*/

.picheader>h2 {
   margin-top: 60px;
   text-decoration: underline red solid 3px;
   text-underline-offset: 20px;
}

.article-img {
   width: 100%;
   border-radius: 6px;
   overflow: hidden;
   cursor: pointer;

}


.article-body>.article-img:hover {
   transform: scale(1.02);

}


.article-wrapper {
   display: flex;
   flex-wrap: wrap;

   /* border-bottom: #7f888f 1px solid; */
   /* padding-bottom: 30px; */
   gap: 50px;

}

.article-item {
   flex-basis: calc(50% - 25px);
   box-sizing: border-box;



}

.article-body {

   padding-bottom: 20px;
   border-bottom: #7f888f solid 1px;
}



/* .article-item:nth-child(odd) {
   border-right: 1px solid #7f888f;
   box-sizing: border-box;

} */





/* New css */

/*.cards-wrapper {
   display: flex;
   gap: 50px;
}

.card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
}

.card .icon-wrapper {
   border: 2px solid #7f888f;
   transform: rotate(45deg);
   font-size: 50px;
   color: #f56a6a;
}

.card .icon-wrapper i {
   padding: 30px;
   transform: rotate(45deg);
}









.wrap>.img {
   width:560px;
   height: 350px;
   border-radius: 4px;
   margin-top: 40px;
}

.wrap>.article-content>p {
   color:#7f888f;
}
.wrappers{
   display:flex;
   gap:80px;
   margin-bottom: 40px;
   border-bottom: #7f888f solid 1px;
    padding-bottom: 30px;
}