body {
   font-family: "Roboto Slab", serif;
   width: 80%;
   margin: auto;
}

.header-primary {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.header-title a {
   text-decoration: none;


}

.header-social-nav {
   margin-bottom: 10px;
}

.header-social-nav a {
   text-decoration: none;
}

.header-social-nav ul li {
   list-style: none;
   display: inline-block;
   margin-right: 10px;
   padding-right: 10px;
}

a:link {
   color: #7f888f;
}

a:visited {
   color: #7f888f;
}

a:hover {
   color: #f56a6a;
}

.header-primary {
   margin-top: 60px;
   border-bottom-style: solid;
   border-bottom-width: 5px;
   border-bottom-color: #f56a6a;

}

/*main section*/
main {

   margin-top: 60px;

}


.content>h1 {
   font-size: 50px;
   margin-top: 10px;
}

.content>p {
   color: #7f888f;
   letter-spacing: 2px;
   font-size: 15px;


}

button {
   color: #f56a6a;
   border: 2px solid red;
   border-radius: 4px;
   padding: 8px;
   list-style: none;
   text-decoration: none;
   text-align: center;
   font-size: 12px;
   cursor: pointer;

}



section{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;

}


.content {
   margin-bottom: 90px;
}

main {
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: grey;
}

/*section2*/
div>h2 {
   text-decoration: underline red solid 3px;
   text-underline-offset: 20px;
   margin-top: 60px;
   display: block;
  /* text-align: left;*/

}
.icons{
   margin-top: 140px;
   display:inline-block;
   margin-bottom:90px;
   
}

.fa-regular.fa-gem {
   font-size: 50px;
   color: #f56a6a;
  margin-top: 40px;
   margin-left: 40px;
   float: left;
   transform: rotatez(-45deg);

}

.fa-gem {
   border-radius: 4px;
   border: 1px solid #7f888f;
   padding: 30px;
   transform: rotatez(45deg);
}
.fa-gem>.gemcontent>p{
   padding:40px;
}

.gemcontent>p {
   color: #7f888f;
}

.fa-solid.fa-paper-plane {
   font-size: 50px;
   color: #f56a6a;
   margin-top: 40px;
   margin-left: 40px;
   float: left;
}

.fa-paper-plane {
   border-radius: 4px;
   border: 1px solid #7f888f;
   padding: 30px;
   transform: rotatez(45deg);


}

.planecontent>p {
   color: #7f888f;
}
.gemplane{
   display:flex;
   justify-content: space-around;
   align-items: flex-start;

}

.fa-solid.fa-rocket {
   font-size: 50px;
   color: #f56a6a;
   margin-top: 40px;
   margin-left: 40px;
   float: left;


}

.fa-rocket {
   border-radius: 4px;
   border: 1px solid #7f888f;
   padding: 30px;
   transform: rotatez(45deg);

}

.rocketcontent>p {

   color: #7f888f;
}




.fa-solid.fa-signal {
   font-size: 40px;
   color: #f56a6a;
   margin-top: 40px;
   margin-left: 40px;
   float: left;
}

.fa-signal {
   border-radius: 4px;
   border: 1px solid #7f888f;
   padding: 30px;
   transform: rotatez(45deg);
}

.signalcontent>p {

   color: #7f888f;
}
.rocketsignal{
   display:flex;
   justify-content: space-around;
   align-items: flex-start;

}


.section2 {
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: grey;
   

}
/*article*/
article>header>h2 {
   margin-top: 60px;
   margin-left: 30px;
   text-decoration: underline red solid 3px;
   text-underline-offset: 20px;
}

.vl{
   border:.1px solid #7f888f;
   height: 1630px;
   position:absolute;
   left:50%;
   top:1440px;
  } 
.pic01{
         width: 500px;
         height:350px;
         float:left;
         border-radius: 4px;
         margin-top: 40px;
  }
  .part1> .h3-p-1{
   float:left;
   display:inline;
   
}
.pic02{
   margin-top: 20px;
}

.pic02{
   width: 500px;
   height:350px;
   float:left;
   border-radius: 4px;
   margin-top: 40px;
}
.part2>.h3-p-2{
   float:left;

}
.part-1-2{
   display:flex;
   justify-content: space-around;
   align-items: flex-start;
}
.part2{
padding-left:90px;

}
.part-1-2{
 border-bottom: 1px solid #7f888f;
 
}
  
  
.pic03{
   width: 500px;
   height:350px;
   float:left;
   border-radius: 4px;
   margin-top: 40px;
}
.part3> .h3-p-3{
float:left;
display:inline;
}


.pic04{
   width: 500px;
   height:350px;
   float:left;
   border-radius: 4px;
   margin-top: 40px;
}
.part4> .h3-p-4{
float:left;
display:inline;

}
.part-3-4{
   display:flex;
   justify-content: space-around;
   align-items: flex-start;
}
.part4{
padding-left:90px;
}
.part-3-4{
   border-bottom: 1px solid #7f888f;
  
  }

.pic05{
   width: 500px;
   height:350px;
   float:left;
   border-radius: 4px;
   margin-top: 40px;
}
.part5> .h3-p-5{
float:left;
display:inline;

}
.pic06{
   width: 500px;
   height:350px;
   float:left;
   border-radius: 4px;
   margin-top: 40px;
}
.part6> .h3-p-6{
float:left;
display:inline;
}

.part-5-6{
   display:flex;
   justify-content: space-around;
   align-items: flex-start;
}
.part6{
padding-left:90px;
}